@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --primary-color: #000D83;
    --secondary-color: #0BB4FF;
    --primary-text-color: #040931B5;
    --background-color: #E7EFFF;
    --sub_heading_font-size: 1.125rem;
    --heading_font-size: 2.5rem;
}

body {
    max-width: 1440px;
}

/* <!-- header section start --> */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--background-color);
    padding: 15px 30px;
    position: sticky;
    top: 0;
    z-index: 100;

}

.logo img {
    width: 100%;
}

nav>ul {
    display: flex;
}

nav>ul>li {
    margin: 0px 20px;
}

nav>ul>li a {
    color: var(--primary-color);
}

nav>ul>li a:hover {
    color: var(--secondary-color);
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: var(--primary-color);
}

.signin:hover {
    color: var(--secondary-color);
}

.signup {
    border: 1px solid var(--primary-color);
    padding: 8px 15px;
    border-radius: 8px;
    transition: all 0.3s;
}

.signup:hover {
    background: var(--primary-color);
    color: white;
}

/* hero section  */
.hero-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 50px 30px;
    background: var(--background-color);
}

.hero-content>h3 {
    font-size: 20px;
    color: var(--secondary-color);
    margin-bottom: 30px;
}

.hero-content>h2 {
    width: 80%;
    font-size: 40px;
    color: var(--primary-color);
    margin-bottom: 30px;
}

.hero-content>p {
    width: 70%;
    font-size: 17px;
    color: var(--primary-text-color);
    margin-bottom: 30px;
}

.btn-group {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.btn-1,
.btn-2 {
    padding: 16px 30px;
    background: var(--primary-color);
    color: #fff;
    border: 1px solid var(--primary-color);
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-1:hover,
.btn-2:hover {
    background: var(--secondary-color);
}

.btn-1 a {
    color: #fff;
}

.btn-2 a {
    color: var(--primary-color);
}

.btn-2 {
    background: transparent;
    color: var(--primary-text-color);
}

.heroImg {
    width: 50%;
}

.heroImg img {
    width: 100%;
}

.avtart-stars {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 10px;
}

.avtar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avtar div {
    position: relative;
    margin-left: -15px;
}

.avtar div>img {
    border: 2px solid #fff;
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.avtar div>span {
    width: 48px;
    height: 48px;
    background: #333;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;

}

.stuCount {
    color: var(--primary-text-color);

}

/* about section  */
.about-div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    padding: 0px 30px;
    margin: 130px 0;
}

.about-img {
    width: 60%;
}

.about-img img {
    width: 100%;
}

.about-content h3 {
    font-size: 20px;
    color: var(--secondary-color);
    margin-bottom: 30px;
}

.about-content h2 {
    width: 80%;
    font-size: 30px;
    color: var(--primary-color);
    margin-bottom: 30px;
}

.about-content p {
    width: 90%;
    font-size: 17px;
    color: var(--primary-text-color);
    margin-bottom: 30px;
}

/* .why-us Section */
.why-us-singelDiv {
    margin-top: 20px;
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 8px;
    width: 100%;
    max-width: 80%;
    cursor: pointer;
    transition: 0.3s ease-in;

}

.why-us-singelDiv:hover {
    transform: scale(1.05);
}

.icon-text {
    display: flex;
    align-items: center;
    gap: 1rem;
    line-height: 10px;
}

.icon {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EDFAFF;
    border-radius: 50%;

}

.icon img {
    width: 25px;
    height: 25px;
}

.icon-text h4 {
    font-size: 17px;
    color: var(--primary-color);
}

.arrow-img {
    margin-left: auto;
    line-height: 13px;
}

/* schol section  */
.schoolDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 0px 30px;
    margin: 50px 0;
}

.scholl-content {
    width: 60%;
}

.scholl-content h3 {
    font-size: 20px;
    color: var(--secondary-color);
    margin-bottom: 30px;
}

.scholl-content h2 {
    width: 80%;
    font-size: 30px;
    color: var(--primary-color);
    margin-bottom: 30px;
}

.scholl-content p {
    width: 90%;
    font-size: 17px;
    color: var(--primary-text-color);
    margin-bottom: 30px;
}


.image img {
    width: 100%;
}

.card-section {
    margin: 50px 0;
}

.card-text {
    text-align: center;
}

.card-text>h3 {
    font-size: 25px;
    margin-bottom: 10px;
    color: var(--secondary-color);
}

.card-text>h2 {
    font-size: 40px;
    width: 45%;
    margin: auto;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.crad-prent {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 0 30px;
    text-align: center;
}

.crad-singel-div {
    background: #fff;
    padding: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;


}

.crad-singel-div:hover {
    transform: translateY(-10px);
}

.crad-singel-div img {
    width: 100%;
    margin-bottom: 12px;
}

.crad-singel-div>h3 {
    font-size: 1.2rem;
    color: #040931;
    font-weight: 600;
    margin-bottom: 5px;
}

.crad-singel-div>p {
    color: #555;
    font-size: 0.87rem;
    margin-bottom: 10px;
}

.star-rating {
    color: #FDC350;
    font-size: 13px;
    margin-bottom: 10px;
}
   /* <!-- newsletter section --> */
.news-leter{
    background-image: url(../image/news-letter.png); 
    height: 450px;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    background-size: cover;
    position: relative;
    margin: 100px 40px;
    border-radius: 23px;
    z-index: 0;

}
.overly{
    position: absolute;
    background:#000d8380;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 12px;

}
.contet{
    text-align: center;

}
.contet h2{
    font-size: 40px;
    color: #fff;
    margin-bottom: 15px;
}
.contet p{
    color: var(--background-color);
    margin-bottom: 15px;
}
.overly .btn{
    cursor: pointer;
}
.contet .btn{

    padding: 15px 20px;
    background: var(--secondary-color);
    border: 1px solid var(--primary-color);
    border-radius: 12px;
    color: #fff;
    cursor: pointer;
    transition: background-color  0.3s ease;
}
.contet .btn:hover{
    background: transparent;
}

/* footer section  */
footer{
    background: var(--background-color);
    padding: 50px 0;
}
.footet-section{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  padding: 30px 0px;
  padding-left: 25px;
  gap: 2rem;

}
.footer-singel-div{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.logo img{
    width: 80%;
    max-width: 100%;
}
.footer-singel-div  h4{
    font-size: 20px;
    color: var(--primary-color);
    margin-bottom: 10px;
}
.footer-singel-div p{
    margin-top: 7px ;
    color:var(--primary-text-color);
}
.social-media a {
 color:  var(--primary-text-color);
 background: var(--secondary-color);
 width: 40px;
 height: 40px;
 margin-right: 10px;
 padding: 14px ;
 border-radius: 50%;
 display: inline-flex;
 align-items: center;
 justify-content: center;
 margin-top: 20px;
 transition: 0.3s;
}
.social-media a:hover{
    transform:translateY(-5px);
}
.footer-singel-div ul{
    padding: 0;
}
.footer-singel-div ul li{
    margin-bottom: 10px;
}
.footer-singel-div ul li a{
    color: var(--primary-text-color);
}
.footer-singel-div ul li a:hover{
    color: var(--secondary-color);
}

 /* <!-- copy right sectiion  --> */
.copy-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.copy-right a{
    color: darkgoldenrod;
}